@CHARSET "UTF-8";

/*---HackerSpaceLogo--------------*/
#iconLogo {
	position: absolute;
	left: 1em;
	top: 0.5em;
}
#iconLogo img {
	width: 50%;
	height: auto;
}
/*--Info Panel--------------------*/
#infoArucoDetection {
    position: absolute;
    left: 4.5em;
    top: 0.5em;
}
#infoText {
	border: 0px;
}
#infoIP {
    border: 0px;
    color: #000000;
    pointer-events: none;
}
/*--iframe in the middle----------*/
iframe#ifrm {
    border:1px;
    left: 4em;
    top: 1.5em;
    width:1280px; height:720px;
    position: absolute;
}